<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>关系demo</title>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.12.0/index.js"></script>
    <link href="https://cdn.bootcss.com/element-ui/2.12.0/theme-chalk/index.css" rel="stylesheet">
    <!-- <script src="./js/dist.js"></script> -->
    <script src="./js/11.js"></script>
    <style>
    #chart {
        width: 1200px;
        height: 1000px;
        display: inline-block;

    }

    div#right {
        float: right;
        width: 100px;
        display: inline-block;
    }
    body {background-color:#4E5054;}
    </style>
</head>

<body>
    <div id='app' style="position: absolute; left:350px;">
        <div id='chart'></div>
        <div id='right'>
            <el-checkbox-group v-model="checkList">
                <template v-for='(item,i) in checkLists'>
                    <el-checkbox :label="item" :key='i'></el-checkbox>
                </template>
            </el-checkbox-group>
        </div>
    </div>
    <script>
    var vm = new Vue({
        el: '#app',
        data() {
            return {
                checkLists: [],
                checkList: [],
                // defaultConfig: {
                //     width: 1000, // 总画布svg的宽,单位为px,默认为容器的宽
                //     height: 800, // 高，默认为容器的高
                //     isHighLight: true, // 是否启动 鼠标 hover 到节点上高亮与节点有关的节点，其他无关节点透明的功能
                //     isScale: true, // 是否启用缩放平移zoom功能
                //     scaleExtent: [0.5, 1.5], // 缩放的比例尺
                //     chargeStrength: -300, // 万有引力
                //     collide: 100, // 碰撞力的大小 （节点之间的间距）
                //     nodeWidth: 260, // 每个node节点所占的宽度，正方形
                //     margin: 20, // node节点距离父亲div的margin
                //     alphaDecay: 0.9,//0.0228, // 控制力学模拟衰减率
                //     r: 35, // 头像的半径 [30 - 45]
                //     relFontSize: 12, // 关系文字字体大小
                //     linkSrc: 30, // 划线时候的弧度
                //     linkColor: '#bad4ed', // 链接线默认的颜色
                //     strokeColor: '#7ecef4', // 头像外围包裹的颜色
                //     strokeWidth: 3, // 头像外围包裹的宽度
                // },
                data: {
                    "nodes": [{
                            "source": 0,
                            "name": "Nolan",
                            "role_id": 41,
                            "group": 0,
                            "avatar": "../img/img/nolan.png",
                            "bg": "#025",
                            "r": 50, //半径大小
                            "strokeWidth":20,
                            "strokeColor": 'gold'

                        }, {
                            "source": 1,
                            "name": "Memento",
                            "role_id": 42,
                            "group": 1,
                            "avatar": "../img/img/momento.png",
                            "bg": "#0ff",
                            "strokeColor": 'limegreen',
                            "strokeWidth":8,
                            "r": 40, //半径大小


                        }, 
            {
                "source": 2,
                "name": "Guy Pearce",
                "role_id": 43,
                "group": 3,
                "avatar": "../img/img/guy.png",
                "strokeColor": 'cornflowerblue',
                "strokeWidth":5,
            },
            {
                "source": 3,
                "name": "Carrie-Anne",
                "role_id": 44,
                "group": 3,
                "avatar": "../img/img/Canne.jpg",
                "strokeColor": 'cornflowerblue',
                "strokeWidth":5,
            },
            {
                "source": 4,
                "name": "Joe Pantoliano",
                "role_id": 45,
                "group": 3,
                "avatar": "../img/img/Joe.png",
                "strokeColor": 'cornflowerblue',
                "strokeWidth":5,
            },
            {
                "source": 5,
                "name": "Insomnia",
                "role_id": 46,
                "group": 2,
                "avatar": "../img/img/inso.png",
                "bg": "#0ff",
                "strokeColor": 'limegreen',
                "strokeWidth":5,
                "r": 40, 
            },
            {
                "source": 6,
                "name": "Al Pacino",
                "role_id": 47,
                "group": 3,
                "avatar": "../img/img/ai.jpg",
                "strokeColor": 'cornflowerblue',
                "strokeWidth":5,
            },
            {
                "source": 7,
                "name": "Hilary Swank",
                "role_id": 48,
                "group": 3,
                "avatar": "../img/img/hilary.jpg",
                "strokeColor": 'cornflowerblue',
                "strokeWidth":5,
            },
            {
                "source": 8,
                "name": "Martin Donovan",
                "role_id": 49,
                "group": 3,
                "avatar": "../img/img/martin.jpg",
                "strokeColor": 'cornflowerblue',
                "strokeWidth":5,
            },
            {
                "name": "Nicky Katt",
                "role_id": 50,
                "group": 3,
                "avatar": "../img/img/Nicky.jpg",
                "strokeColor": 'cornflowerblue',
                "strokeWidth":5,
            },
            {
                "name": "Paul Dooley",
                "role_id": 51,
                "group": 3,
                "avatar": "../img/img/Paul.jpg",
                "strokeColor": 'cornflowerblue',
                "strokeWidth":5,
            },
            {
                "name": "Batman Begins",
                "role_id": 52,
                "group": 2,
                "avatar": "../img/img/bat1.jpg",
                "bg": "#0ff",
                "strokeColor": 'limegreen',
                "strokeWidth":5,
                "r": 40,
            },
            {
                "name": "Christian",
                "role_id": 53,
                "group": 3,
                "avatar": "../img/img/cbale.jpg",
                "strokeColor": 'cornflowerblue',
                "strokeWidth":5,
            },
            {
                "name": "Michael",
                "role_id": 54,
                "group": 3,
                "avatar": "../img/img/michael.jpg",
                "strokeColor": 'cornflowerblue',
                "strokeWidth":5,
            },
            {
                "name": "Liam",
                "role_id": 55,
                "group": 3,
                "avatar": "../img/img/liam.jpg",
                "strokeColor": 'cornflowerblue',
                "strokeWidth":5,
            },
            {
                "name": "Katie",
                "role_id": 56,
                "group": 3,
                "avatar": "../img/img/katie.jpg",
                "strokeColor": 'cornflowerblue',
                "strokeWidth":5,
            },
            {
                "name": "Gary",
                "role_id": 57,
                "group": 3,
                "avatar": "../img/img/gary.jpg",
                "strokeColor": 'cornflowerblue',
                "strokeWidth":5,
            },
            {
                "name": "The Prestige",
                "role_id": 58,
                "group": 2,
                "avatar": "../img/img/pres.jpg",
                "bg": "#0ff",
                "strokeColor": 'limegreen',
                "strokeWidth":5,
                "r": 40,
            },
            {
                "name": "Hugh",
                "role_id": 59,
                "group": 3,
                "avatar": "../img/img/hugh.jpg",
                "strokeColor": 'cornflowerblue',
                "strokeWidth":5,
            },
            {
                "name": "The Dark Night",
                "role_id": 60,
                "group": 2,
                "avatar": "../img/img/dark.jpg",
                "bg": "#0ff",
                "strokeColor": 'limegreen',
                "strokeWidth":5,
                "r": 40,
            },
            {
                "name": "Heath Ledger",
                "role_id": 61,
                "group": 3,
                "avatar": "../img/img/health.jpg",
                "strokeColor": 'cornflowerblue',
                "strokeWidth":5,
            },
            {
                "name": "Aaron Eckhart",
                "role_id": 62,
                "group": 3,
                "avatar": "../img/img/aaron.jpg",
                "strokeColor": 'cornflowerblue',
                "strokeWidth":5,
            },
            {
                "name": "Inception",
                "role_id": 63,
                "group": 2,
                "avatar": "../img/img/incep.jpg",
                "bg": "#0ff",
                "strokeColor": 'limegreen',
                "strokeWidth":5,
                "r": 40,
            },
            {
                "name": "Leonardo",
                "role_id": 64,
                "group": 1,
                "avatar": "../img/img/leo.jpg",
                "strokeColor": 'cornflowerblue',
                "strokeWidth":5,
            },
            {
                "name": "Joseph",
                "role_id": 65,
                "group": 1,
                "avatar": "../img/img/joseph.jpg",
                "strokeColor": 'cornflowerblue',
                "strokeWidth":5,
            },
            {
                "name": "Ellen",
                "role_id": 66,
                "group": 1,
                "avatar": "../img/img/elliot.jpg",
                "strokeColor": 'cornflowerblue',
                "strokeWidth":5,
            },
            {
                "name": "Tom",
                "role_id": 67,
                "group": 1,
                "avatar": "../img/img/tom.jpg",
                "strokeColor": 'cornflowerblue',
                "strokeWidth":5,
            },
            {
                "name": "The Dark Knight Rises",
                "role_id": 68,
                "group": 1,
                "avatar": "../img/img/rise.jpg",
                "bg": "#0ff",
                "strokeColor": 'limegreen',
                "strokeWidth":5,
                "r": 40,
            },
            {
                "name": "Anne Hathaway",
                "role_id": 69,
                "group": 1,
                "avatar": "../img/img/anne.jpg",
                "strokeColor": 'cornflowerblue',
                "strokeWidth":5,
            },
            {
                "name": "Interstellar",
                "role_id": 70,
                "group": 1,
                "avatar": "../img/img/inter.jpg",
                "bg": "#0ff",
                "strokeColor": 'limegreen',
                "strokeWidth":5,
                "r": 40,
            },
            {
                "name": "Matthew",
                "role_id": 71,
                "group": 1,
                "avatar": "../img/img/matt.jpg",
                "strokeColor": 'cornflowerblue',
                "strokeWidth":5,
            },
            {
                "name": "Mackenzie",
                "role_id": 72,
                "group": 1,
                "avatar": "../img/img/mack.jpg",
                "strokeColor": 'cornflowerblue',
                "strokeWidth":5,
            },
            {
                "name": "Dunkirk",
                "role_id": 73,
                "group": 1,
                "avatar": "../img/img/dun.jpg",
                "bg": "#0ff",
                "strokeColor": 'limegreen',
                "strokeWidth":5,
                "r": 40,
            },
            {
                "name": "Fionn",
                "role_id": 74,
                "group": 1,
                "avatar": "../img/img/fionn.jpg",
                "strokeColor": 'cornflowerblue',
                "strokeWidth":5,
            },
            {
                "name": "Glynn-Carney",
                "role_id": 75,
                "group": 1,
                "avatar": "../img/img/glynn.jpg",
                "strokeColor": 'cornflowerblue',
                "strokeWidth":5,
            },
            {
                "name": "Jack Lowden",
                "role_id": 76,
                "group": 1,
                "avatar": "../img/img/jack.jpg",
                "strokeColor": 'cornflowerblue',
                "strokeWidth":5,
            },
            {
                "name": "Harry",
                "role_id": 77,
                "group": 1,
                "avatar": "../img/img/harry.jpg",
                "strokeColor": 'cornflowerblue',
                "strokeWidth":5,
            },
            {
                "name": "Tenet",
                "f": 78,
                "group": 1,
                "avatar": "../img/img/tenet.jpg",
                "bg": "#0ff",
                "strokeColor": 'limegreen',
                "strokeWidth":5,
                "r": 40,
            },
            {
                "name": "Robert",
                "role_id": 79,
                "group": 1,
                "avatar": "../img/img/robert.jpg",
                "strokeColor": 'cornflowerblue',
                "strokeWidth":5,
            },
            {
                "name": "Elizabeth",
                "role_id": 80,
                "group": 1,
                "avatar": "../img/img/eli.jpg",
                "strokeColor": 'cornflowerblue',
                "strokeWidth":5,
            },
            {
                "name": "John",
                "role_id": 81,
                "group": 1,
                "avatar": "../img/img/john.jpg",
                "strokeColor": 'cornflowerblue',
                "strokeWidth":5,
            }
                    ],
        "links":  [
            {
                "source": 0,
                "target": 1,
                "relation": "Direct",
                "color": "32CD32"
            },
            {
                "source": 1,
                "target": 2,
                "relation": "Leonard",
                "color": "6695EC"
            },
            {
                "source": 1,
                "target": 3,
                "relation": "Natalie",
                "color": "6695EC"
            },
            {
                "source": 1,
                "target": 4,
                "relation": "Teddy",
                "color": "6695EC"
            },
            {
                "source": 0,
                "target": 5,
                "relation": "Direct",
                "color": "32CD32"
            },
            {
                "source": 5,
                "target": 6,
                "relation": "Will",
                "color": "6695EC"
            },
            {
                "source": 5,
                "target": 7,
                "relation": "Ellie",
                "color": "6695EC"
            },
            {
                "source": 5,
                "target": 8,
                "relation": "Hap",
                "color": "6695EC"
            },
            {
                "source": 5,
                "target": 9,
                "relation": "Fred",
                "color": "6695EC"
            },
            {
                "source": 5,
                "target": 10,
                "relation": "Chief",
                "color": "6695EC"
            },
            {
                "source": 0,
                "target": 11,
                "relation": "Direct",
                "color": "32CD32"
            },
            {
                "source": 11,
                "target": 12,
                "relation": "Batman",
                "color": "6695EC"
            },
            {
                "source": 11,
                "target": 13,
                "relation": "Alfred",
                "color": "6695EC"
            },
            {
                "source": 11,
                "target": 14,
                "relation": "Ducard",
                "color": "6695EC"
            },
            {
                "source": 11,
                "target": 15,
                "relation": "Rachel",
                "color": "6695EC"
            },
            {
                "source": 11,
                "target": 16,
                "relation": "Jim ",
                "color": "6695EC"
            },
             {
                "source": 0,
                "target": 17,
                "relation": "Direct",
                "color": "32CD32"
            },
             {
                "source": 17,
                "target": 18,
                "relation": "Robert",
                "color": "6695EC"
            },
            {
                "source": 17,
                "target": 12,
                "relation": "Alfred",
                "color": "6695EC"
            },
            {
                "source": 17,
                "target": 13,
                "relation": "Cutter",
                "color": "6695EC"
            },
            {
                "source": 0,
                "target": 19,
                "relation": "Direct",
                "color": "32CD32"
            },
            {
                "source": 19,
                "target": 20,
                "relation": "Joker",
                "color": "6695EC"
            },
             {
                "source": 19,
                "target": 21,
                "relation": "Harvey",
                "color": "6695EC"
            },
            {
                "source": 19,
                "target": 12,
                "relation": "Batman",
                "color": "6695EC"
            },
            {
                "source": 19,
                "target": 13,
                "relation": "Alfred",
                "color": "6695EC"
            },
            {
                "source": 0,
                "target": 22,
                "relation": "Direct",
                "color": "32CD32"
            },
            {
                "source": 22,
                "target": 23,
                "relation": "Cobb",
                "color": "6695EC"
            },
            {
                "source": 22,
                "target": 24,
                "relation": "Arthur",
                "color": "6695EC"
            },
            {
                "source": 22,
                "target": 25,
                "relation": "Ariadne",
                "color": "6695EC"
            },
            {
                "source": 22,
                "target": 26,
                "relation": "Eames",
                "color": "6695EC"
            },
            {
                "source": 0,
                "target": 27,
                "relation": "Direct",
                "color": "32CD32"
            },
            {
                "source": 27,
                "target": 28,
                "relation": "Selina",
                "color": "6695EC"
            },
            {
                "source": 27,
                "target": 12,
                "relation": "Batman",
                "color": "6695EC"
            },
            {
                "source": 27,
                "target": 13,
                "relation": "Alfred",
                "color": "6695EC"
            },
            {
                "source": 27,
                "target": 16,
                "relation": "Jim ",
                "color": "6695EC"
            },
            {
                "source": 27,
                "target": 26,
                "relation": "Bane",
                "color": "6695EC"
            },
            {
                "source": 27,
                "target": 24,
                "relation": "Blake",
                "color": "6695EC"
            },
            {
                "source": 0,
                "target": 29,
                "relation": "Direct",
                "color": "32CD32"
            },
            {
                "source": 29,
                "target": 30,
                "relation": "Cooper",
                "color": "6695EC"
            },
             {
                "source": 29,
                "target": 31,
                "relation": "Murph",
                "color": "6695EC"
            },
            {
                "source": 29,
                "target": 28,
                "relation": "Brand",
                "color": "6695EC"
            },
            {
                "source": 0,
                "target": 32,
                "relation": "Direct",
                "color": "32CD32"
            },
            {
                "source": 32,
                "target": 33,
                "relation": "Tommy",
                "color": "6695EC"
            },
            {
                "source": 32,
                "target": 34,
                "relation": "Peter",
                "color": "6695EC"
            },
            {
                "source": 32,
                "target": 35,
                "relation": "Collins",
                "color": "6695EC"
            },
            {
                "source": 32,
                "target": 36,
                "relation": "Alex",
                "color": "6695EC"
            },
            {
                "source": 0,
                "target": 37,
                "relation": "Direct",
                "color": "32CD32"
            },
            {
                "source": 37,
                "target": 38,
                "relation": "Neil",
                "color": "6695EC"
            },
            {
                "source": 37,
                "target": 39,
                "relation": "Kat",
                "color": "6695EC"
            },
            {
                "source": 37,
                "target": 40,
                "relation": "Protagonist",
                "color": "6695EC"
            },
                    ]
                },
                
            }
        },
        watch:{
            checkList:function(){
                var newData ={}    
                var links = [];
                var nodes=[];
                var delSource=[];
                this.data.links.map((item)=>{
                        if(this.checkList.indexOf(item.relation)>-1 ){                            
                            links.push(item);
                        }else{
                            delSource.push(item.source);
                        }
                });
                this.data.nodes.map((item)=>{
                    if(delSource.indexOf(item.source)===-1){
                         nodes.push(item);
                    }else{
                       
                    }
                })
                var newData ={}
                newData.nodes=nodes;
                newData.links = links;
                console.log(newData);
                this.element.innerHTML = ''; //清空
                new RelationChart(this.element, newData, this.defaultConfig);
            }
        },
        methods: {
            draw() {
                this.element.innerHTML = ''; //清空
                new RelationChart(this.element, this.data, this.defaultConfig);
            }
        },
        computed: {
            element: function() {
                return document.getElementById('chart');
            }
        },

        mounted() {
            this.draw(); //画图

        }
    })
    </script>
          <div class="back" style="position: absolute; left: 180px; top: 830px">
        <p>
          <button type="button" class="btn btn-default btn-lg btn-block" style="width: 200px">
            <a href="homepage.html">Back to HomePage</a>
          </button>
        </p>
      </div>

      <div class="next" style="position: absolute; left: 1380px; top: 830px">
        <p>
          <button type="button" class="btn btn-default btn-lg btn-block" style="width: 200px">
            <a href="bullet.html">See Statistic Info</a>
          </button>
        </p>
      </div>
</body>

</html>